.seo {
  font-size: 360px;
  font-family: "Akrobat";
  color: rgb(25, 130, 255);
  text-transform: uppercase;
  line-height: 0.182;
  -moz-transform: matrix( 0.67211974689007,0,0,0.67215001081332,0,0);

}
._2 {
  font-size: 200px;
  
font-family: "Lato";
  
color: rgba(238, 238, 238, 0);
  
font-weight: bold;
  
line-height: 0.275;
  
-moz-transform: matrix( 0.70083583570738,0,0,0.70725583068822,0,0);
  
-webkit-transform: matrix( 0.70083583570738,0,0,0.70725583068822,0,0);
  
-ms-transform: matrix( 0.70083583570738,0,0,0.70725583068822,0,0);
  
position: absolute;
  
left: 1223.805px;
  
top: 10027.5px;
  
z-index: 48;
}
